@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&family=Sail&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{display: block;}

 /* GENERAL SETTINGS */
html{
    scroll-behavior: smooth;
}

body{
    min-height:100vh;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    line-height: 1.5;
    background-color: #326b9c;
    background-image: url("img/lined-paper-2.png");
}


button, input, select, textarea{  
    font:inherit;
} 

/* PROPERTIES */

.right{
    float:right;
}

.left{
  float:left
}

.offscreen{
    position: absolute;
    left:-10000000px;
}


@media screen and (min-width: 481px) {
    
}


/* HEADER */

h1{
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    letter-spacing: 0.2rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.index-header h1{
    font-size: 3em;
}

.index-header nav{
    padding-top:1em;
}


header{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em; 
    text-align: center;
    color: black;
    text-align: center;
}

#index-header{
    padding-top: 2em;
}


nav a{

    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
    margin-inline: 0.5em;  
}


nav a:hover, a:focus{
    color: #96031A;
    text-transform: uppercase;
}

.header-content{
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.flip-horizontally {
    transform: scaleX(-1);
  }

.header-img{
    width: 100%;
    height:auto;
}

.header-content-a{
    width:50%;
    color: #000;
    text-decoration: none;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    min-width: 145px;
    
   
}

.quote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.8em;
}


/* MAIN */

main{
    background: url(img/so-white_400x400.png);
    color: #0D1321;
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    
}

/* .box { bottom
--mask:
    radial-gradient(86.82px at 50% calc(100% - 119.25px),#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
    radial-gradient(86.82px at 50% calc(100% + 74.25px),#0000 99%,#000 101%) 50% calc(100% - 45px)/180px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  } */
  .box {
    --mask:
      radial-gradient(86.82px at 50% 119.25px,#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
      radial-gradient(86.82px at 50% -74.25px,#0000 99%,#000 101%) 50% 45px/180px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

/* INDEX PAGE */
.article-description{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7em;
    padding-bottom:3em;

}

.article-description-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.article-description-section p{
    width: 75%;
}

.p-text-align{
    text-align: right;
}

.article-description-figure{
    width:20%;
}

.article-description-figure img{
    width:100%;
    height: auto;
    border-radius: 240px;
}

.article-review{
    display: grid;
    grid-template-columns: repeat(3 ,1f);
    justify-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #bc5746;
    background-image: url("img/low-contrast-linen.png");

color: #000;

    padding: 1em;
}

.article-review-figure{
    width:7%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.article-review h3{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0.5em;
    font-size: 1em;
}

.article-review-figure img{
    width: 100%;
    height: auto;
}


.article-review section{
    padding: 0.5em;
    font-size: 0.8em;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-review h4{
    text-align: right;
    padding: 0.2em;
}

.article-index{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4em;
    padding-bottom: 4em;
}

.article-index-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;

}

.article-index-header{
    padding-bottom: 1em;
    text-decoration: underline;
}

.article-index-anchor-figure{
    padding-top: 0.5em;
    padding-bottom: 1.2em;
    width:25%;
}

.article-index-section-a{
    text-align: center;
    padding: 1em 3em 1em 3em;
    margin: 3em;
    min-width: 280px;
    border: 3px solid black;
    background: #bc5746;
    background-color: #bc5746;
    background-image: url("img/wine-cork.png");
    color: black;
    text-decoration: none;

}

.article-index-img{
    width: 100%;
    height: auto;
}

.article-index-compass-figure{
    padding-top: 0.5em;
    padding-bottom: 1em;
    width:38%;
}


.article-index-location{
    display:flex;
    justify-content: center;
    padding: 1em;
    flex-wrap: wrap;
}

.article-index-location section{
    min-width: 250px;
    width: 35%;   
}

.article-index-location a{
    color: #0D1321;
    text-decoration: none;
}

.article-index-location a:hover{
    color: #96031A;
    text-decoration: none;
}

.location-hours-table td{
    padding-right: 0.2em;
}

.article-index-faq{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 6% 94%;
}

.article-index-faq hr{
    grid-column-start: 1;
    grid-column-end: 3;
}

.article-index-faq summary{
    cursor: pointer;
}
.article-index-faq-figure{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
}

.article-index-faq-figure img{
    width: 100%;
    height: auto;
}

.article-index-faq details{
    grid-column-start: 2;
    grid-column-end: 3;
}


.article-index-faq p{
    padding-left: 2em;

}

/* ABOUT PAGE */

.article-about{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom:1em;
}


.article-about p{
    text-align: left;
    text-indent: 1em;
}

.article-about-figure{
    margin: 1em 1em 1.5em 1em;
    width:40%;
}

.article-about-figure img{
    width:100%;
    height: auto;
}

figure figcaption{
    font-size: 1rem;
    text-align: center;
    color: #648767;
}

/* CATERING PAGE */

.article-catering{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom:1em;
}

.article-catering-figure{
    width: 40%;
}

.article-catering-figure img{
    width: 100%;
    height: auto;
    margin-top:2em;
}

/* ATTRIBUTION PAGE */

.article-attributes{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom:1em;
}

h2{
    font-family:'Pacifico', cursive;
    letter-spacing: 2px;
    margin-bottom: 0.2em;
}

form{
    margin-top: 3em;
    margin-left: 2em;
    padding: 1em ;
    background-color: #fae38e;
    background-image: url("img/sandpaper.png");
    min-width:400px;
    width:33%;
    border:1px solid #FDF0C4;
    float:right;

}

fieldset{
    border: none;
}

fieldset p{
    padding-inline-start: 1em;
}

legend{
    margin-bottom: 0.2em;   
}

label{
    font-size:0.9rem;
    display:block;
    text-indent: 0;
}

input,select{
    margin: 0.3em;
    margin-inline:0;
}

.choose-menu{
    width:70%;  
    column-count: 2;
    column-width: 270px;
    column-gap: 0;
}

.choose-menu label{
    display: inline;
    
}

.order-details details{
    margin-left: 2em;
}

.catering-button-container{
    display: flex;
    justify-content: space-between;
    
}

.article-catering{
    text-align: left;
    text-indent: 1em;
}

/* MENU */

.article-menu{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom:1em;
    display: grid;
    grid-auto-rows: 5%, 45%,45%;
}


.article-menu h2{
    grid-column: 1/3;
}

.article-menu-section{
    padding: 1em;
    grid-column: 1/3;
}

.article-menu-div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-menu-div-section{
    width: 49%;
    min-width: 300px;
}
.article-menu-section-item{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0.5em;
    border-top: 1px solid black;
    min-width: 300px;

}

.article-menu-section-item h4{
    grid-column: 1/2;
}

.article-menu-section-item-price{
    grid-column: 2/3;
    text-align: right;   
} 

.article-menu-section-item-description {
    grid-column: 1/2;
    min-width: 255px;
}

/* FOOTER */

thead th{
    padding-inline-end: 7em;
}
.hours td{
    padding-inline-end: 0.5em;
}

footer{
    background-color: #39b0ae;
    background-image: url("img/foggy-birds.png");
    padding: 1em;
    text-align: left;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap; 
}

footer ul{
    list-style-type: none;
    margin-inline-end:1em;
}

footer a{
 text-decoration: none;
 color: black
}

footer a:hover, a:focus{
    text-transform: none;
    /* text-decoration: underline; */
    color: #1D2D44;
}


/* Uranian Blue: #a3d9ff lighter
   Navajo white: #FFDEAD
   Reseda Green: #648767
   Rich black: #0D1321
   Prussian Blue: #1d2d44 darker
   Carmine: #96031A
    */

