@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&family=Sail&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{

    scroll-behavior: smooth;
    /* background: navajowhite;
    background-color: #1D2D44;
    background-color: white; */
   
}


body{
    min-height:100vh;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    line-height: 1.5;
    background-color: #326b9c;
    background-image: url("img/lined-paper-2.png");
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    letter-spacing: 0.1rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    margin-bottom: 2%;   
    /* border: 5px solid #1d2d44; */
    /* box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.7); */
}


header{

    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5em; 
    text-align: center;
    color: black;
}

header nav{
    padding: 0.2em;
    text-align: center;
    
    /* background-color: white; */
    /* border-radius: 1em;  */
    /* border: 5px solid #1d2d44; */
    /* box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.7); */ 
}


nav a{

    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
    margin-inline: 0.5em;  
}


nav a:hover, a:focus{
    color: #96031A;
    text-transform: uppercase;
}


main{
    background: url(img/so-white_400x400.png);
    color: #0D1321;
    padding-bottom: 4em;
    border-bottom: 1px solid #fafafa;
    
}


/* .box { bottom
--mask:
    radial-gradient(86.82px at 50% calc(100% - 119.25px),#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
    radial-gradient(86.82px at 50% calc(100% + 74.25px),#0000 99%,#000 101%) 50% calc(100% - 45px)/180px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  } */
  .box {
    --mask:
      radial-gradient(86.82px at 50% 119.25px,#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
      radial-gradient(86.82px at 50% -74.25px,#0000 99%,#000 101%) 50% 45px/180px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

.article-about{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
}

.article-catering{
    /* width: 1%; */
    margin-left: 6em;
    margin-right: 3em;
    /* margin-right: auto; */
    padding-top: 5em;
}

.article-catering img{
    margin-top:4em;
}

h2{
    font-family:'Pacifico', cursive;
    letter-spacing: 2px;
    margin-bottom: 0.2em;
    /* padding-top: 3.5em; */
}


.catering-container{
    margin-top: 1em;
    display:flex;
    flex-wrap: wrap;
    gap:4em;
}

.div-catering{
    width:55%;

}

form{
    padding: 1em;
    background-color: #faf3dd;
    background-image: url("https://www.transparenttextures.com/patterns/grey-sandbag.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    min-width:400px;
    width:33%;
    border:1px solid gray;

}



fieldset{
    border: none;
    margin-bottom:1em;
}

fieldset p{
    padding-inline-start: 1em;
}


legend{
    margin-bottom: 0.2em;
    
}

label{
    font-size:0.9rem;
    display:block;
    text-indent: 0;
}

input,select{
    margin: 0.3em;
    margin-inline:0;
}

.choose-menu{
    width:70%;  
    column-count: 2;
    column-width: 270px;
    column-gap: 0;
}

.choose-menu label{
    display: inline;
    
}


p{
    text-align: left;
    text-indent: 1em;
}

.div-image{
    width: 512px;
    height:512px;
    margin: 1em 1em 1.5em 1em;

}

.img{
    margin-inline: 1em; 
}

.right{
    float:right;
}

figure figcaption{
    font-size: 1rem;
    text-align: center;
    color: #648767;
}

thead th{
    padding-inline-end: 7em;
}
.hours td{
    padding-inline-end: 0.5em;
} 

footer{
    background: url(img/ripples.png);
    padding: 1em;
    text-align: left;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap; 
}

footer ul{
    list-style-type: none;
    margin-inline-end:1em;
}

footer a{
 text-decoration: none;
 color: #56584E;
}
footer a:visited{
    color: #0D1321;
}
footer a:hover, a:focus{
    text-transform: none;
    text-decoration: underline;
    color: #1D2D44;
}


 button, input, select, textarea{  
    font:inherit;
} 



/* Uranian Blue: #a3d9ff lighter
   Navajo white: #FFDEAD
   Reseda Green: #648767
   Rich black: #0D1321
   Prussian Blue: #1d2d44 darker
   Carmine: #96031A
    */


    
/* table, tr, th, td, caption{
    border: 1px solid #0D1321;   
    border-collapse: collapse;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;    
} */